/* article grid */

#layout-wrapper>main {
    grid-area: main;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: fit-content(var(--layout-max-width));
}

main>article {
    grid-column: 1;
    max-width: var(--layout-max-width);
}


/* deal with code block width */

article pre {
    --prism-block-margin-x: 5%;
    width: calc(100% - 2 * ( var(--prism-block-margin-x) + var(--prism-block-padding-x)));
    overflow-x: scroll;
}

.mermaid {
    width: calc(100% - 2 * ( 1rem + 5%));
    margin-left: 5%;
    margin-right: 5%;
}