@media screen and (max-width: 6in) {
    #layout-wrapper {
        --layout-max-width: min(calc(100vw - 2rem), 10in);
    }
    header>nav {
        margin-top: 1em;
        margin-bottom: 1.5em;
    }
    header>*:nth-child(2) {
        margin-left: revert;
    }
    #layout-wrapper>header {
        height: fit-content;
        margin-bottom: 1em;
    }
    #layout-wrapper>header,
    #layout-wrapper>footer {
        width: 100vw;
        max-width: none;
        overflow-x: hidden;
    }
    header> :first-child {
        flex-basis: 100%;
    }
    #layout-wrapper {
        grid-template-areas: "header header header" ". main ." "footer footer footer";
        grid-template-columns: 1rem fit-content(var(--layout-max-width)) 1rem;
    }
}