/* #mermaid-1647805880620 {
    font-family: OpenArchivo, Arial, sans-serif;
    font-size: 16px;
    fill: #000000;
}

.error-icon {
    fill: #552222;
}

#mermaid-1647805880620 .error-text {
    fill: #552222;
    stroke: #552222;
}

#mermaid-1647805880620 .edge-thickness-normal {
    stroke-width: 2px;
}

#mermaid-1647805880620 .edge-thickness-thick {
    stroke-width: 3.5px;
}

#mermaid-1647805880620 .edge-pattern-solid {
    stroke-dasharray: 0;
}

#mermaid-1647805880620 .edge-pattern-dashed {
    stroke-dasharray: 3;
}

#mermaid-1647805880620 .edge-pattern-dotted {
    stroke-dasharray: 2;
}

#mermaid-1647805880620 .marker {
    fill: #666;
    stroke: #666;
}

#mermaid-1647805880620 .marker.cross {
    stroke: #666;
}

#mermaid-1647805880620 svg {
    font-family: OpenArchivo, Arial, sans-serif;
    font-size: 16px;
}

#mermaid-1647805880620 .label {
    font-family: OpenArchivo, Arial, sans-serif;
    color: #000000;
}

#mermaid-1647805880620 .cluster-label text {
    fill: #333;
}

#mermaid-1647805880620 .cluster-label span {
    color: #333;
}

#mermaid-1647805880620 .label text,
#mermaid-1647805880620 span {
    fill: #000000;
    color: #000000;
}

#mermaid-1647805880620 .node rect,
#mermaid-1647805880620 .node circle,
#mermaid-1647805880620 .node ellipse,
#mermaid-1647805880620 .node polygon,
#mermaid-1647805880620 .node path {
    fill: #eee;
    stroke: #999;
    stroke-width: 1px;
}

#mermaid-1647805880620 .node .label {
    text-align: center;
}

#mermaid-1647805880620 .node.clickable {
    cursor: pointer;
}

#mermaid-1647805880620 .arrowheadPath {
    fill: #333333;
}

#mermaid-1647805880620 .edgePath .path {
    stroke: #666;
    stroke-width: 2.0px;
}

#mermaid-1647805880620 .flowchart-link {
    stroke: #666;
    fill: none;
}

#mermaid-1647805880620 .edgeLabel {
    background-color: white;
    text-align: center;
}

#mermaid-1647805880620 .edgeLabel rect {
    opacity: 0.5;
    background-color: white;
    fill: white;
}

#mermaid-1647805880620 .cluster rect {
    fill: hsl(0, 0%, 98.9215686275%);
    stroke: #707070;
    stroke-width: 1px;
}

#mermaid-1647805880620 .cluster text {
    fill: #333;
}

#mermaid-1647805880620 .cluster span {
    color: #333;
}

#mermaid-1647805880620 div.mermaidTooltip {
    position: absolute;
    text-align: center;
    max-width: 200px;
    padding: 2px;
    font-family: OpenArchivo, Arial, sans-serif;
    font-size: 12px;
    background: hsl(-160, 0%, 93.3333333333%);
    border: 1px solid #707070;
    border-radius: 2px;
    pointer-events: none;
    z-index: 100;
}

#mermaid-1647805880620 .node rect {
    fill: var(--brand);
}

#mermaid-1647805880620 :root {
    --mermaid-font-family: OpenArchivo, Arial, sans-serif;
} */