:root {
    font-family: Archivo, sans-serif;
    font-size: 14pt;
    font-weight: 100;
    line-height: 1.35;
}

a {
    color: var(--basetext);
    text-decoration: none;
    cursor: pointer
}

blockquote {
    border-left: lightgray solid 5px;
}

pre {
    max-width: 100vw;
    overflow-x: scroll;
}

a:hover {
    color: var(--basetext);
    text-decoration: none;
    text-decoration: underline
}

[role=button] {
    cursor: pointer;
}

:root {
    color: var(--basetext);
}


/* CSS Custom Properties Definitions */


/* basic formatting */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    font-size: 2rem;
}

h2 {
    margin-top: 2rem;
    font-size: 1.6rem;
}

h3 {
    margin-top: 1.5rem;
    margin-bottom: .25rem;
    margin-left: .5rem;
    font-size: 1.125rem;
    font-style: italic;
}

p {
    margin: 0;
    margin-top: .5rem;
    margin-left: .5rem;
    padding: 0;
}

pre {
    padding: 16px;
    overflow: auto;
    border-radius: 6px;
    background-color: var(--panel-background);
    font-size: 85%;
    line-height: 1.45;
}

header {
    /* height: 47.388mm; */
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    justify-content: start;
    max-width: 48.75rem;
    height: 31.750mm;
    /* border-bottom: 1px solid #e6e6e6; */
}

.site-title {
    position: relative;
    top: 0;
    left: 0;
    /* don't flex site title */
    flex: 0;
    align-self: start;
    margin: 0;
    margin-top: 13mm;
    margin-left: 13mm;
    white-space: nowrap;
    justify-self: start;
}

.site-title a {
    color: var(--basetext);
    font-family: FonoCompressed;
    font-size: 15mm;
    font-variant: small-caps;
    text-decoration: none;
}

header>* {
    align-self: flex-end;
    justify-self: flex-end;
    margin-bottom: 1.5em;
}

header>*:nth-child(2) {
    margin-left: auto;
}

nav>a {
    text-decoration: none;
}

header>nav>a {
    margin: 1em 1em;
}

header>nav {
    margin-right: 2em
}

header> :last-child {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1em;
    margin-right: 2.5em;
}


/* collapsible nav */

.site-nav>input {
    display: none;
}

.site-nav input:not(:checked)~label span:first-child {
    display: none;
}


/* 


.site-nav {
    min-width:40px;
    min-height:40px;
    overflow:hidden;
}

.site-nav a {
    display: none;
    width:0;
    height:0;
    padding:0;
    margin:0;
    transition:width 0.5s, height 0.5s;
    list-style:none;
}

.site-nav input:checked ~ a {
    display: flex;
    width:200px;
    height:90px;
} */

.bio {
    margin-top: 3em;
    margin-bottom: 1em;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}


/* main page grid */

body {
    background-color: var(--background);
}

@media screen and (max-width: 6in) {
    header>nav {
        margin-top: 1em;
        margin-bottom: 1.5em;
    }
    header>*:nth-child(2) {
        margin-left: revert;
    }
    header {
        margin-bottom: 1em;
    }
    header> :first-child {
        flex-basis: 100%;
    }
    main>article {
        max-width: 100%;
    }
    #layout-wrapper {
        grid-template-columns: 1fr fit-content(100vw) 1fr;
    }
}

#layout-wrapper>main {
    display: grid;
    grid-area: main;
    grid-template-rows: fit-content(3em) 1fr;
    padding: 0 2em;
}


/* blog list articles */

.post-list {
    list-style: none;
}

.post-list article {
    display: grid;
    grid-template-areas: "title . pub-date" "excerpt excerpt excerpt" "read-more . .";
    grid-template-columns: 1fr 3em fit-content(10em);
    grid-template-rows: auto auto auto;
    width: 100%;
    min-height: 1in;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-top: 1px solid #e6e6e6;
}

.post-list article>h2 {
    grid-area: title;
    margin: 0;
    font-size: 1.17em;
}

.post-list article>h2>a,
article>h1:first-child>a {
    color: var(--basetext);
    font-weight: 800;
    text-decoration: none;
}

.post-list article>h2:hover>a {
    text-decoration: underline;
}

.post-list article>.publication-date {
    display: block;
    grid-area: pub-date;
    align-self: start;
    margin: 0;
    color: var(--basetext);
    font-family: Archivo, sans-serif;
    font-size: .8em;
    font-size: 1rem;
    font-style: italic;
    line-height: 1.6;
    white-space: nowrap;
    justify-self: end;
}

.post-list article>p {
    grid-area: excerpt;
    margin-top: 1rem;
}

.post-list article>a.read-more {
    grid-area: read-more;
    margin-top: 1rem;
    color: var(--basetext);
}

main>h1:first-child,
article>h1:first-child {
    padding: 0;
    border-bottom: 1px solid var(--basetext);
}

ol.post-list {
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 48.75rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
}

.post-list>li:first-child>article {
    border-top: unset;
}