:root {
    font-family: Archivo, sans-serif;
    font-size: 14pt;
    line-height: 1.35;
    font-weight: 100;
    color: var(--basetext)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
    margin-top: 2rem;
}

h3 {
    font-style: italic;
    font-size: 1.125rem;
    margin-top: 1.5rem;
    margin-bottom: .25rem;
    margin-left: .5rem;
}

p {
    padding: 0;
    margin: 0;
    margin-top: .5rem;
    margin-left: .5rem;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: var(--panel-background);
    border-radius: 6px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--basetext)
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--basetext)
}

header a:hover {
    text-decoration: none;
}

blockquote {
    border-left: lightgray solid 5px;
    padding-left: .5ch;
}

#layout-wrapper>header {
    background: url(../svg-assets/triangle-in-progress.svg) no-repeat left 0 top 0 / 41.75rem padding-box;
}

body {
    background-color: var(--background);
}

.site-title a {
    font-family: FonoCompressed;
    font-variant: small-caps;
    font-size: 15mm;
    color: var(--basetext);
    text-decoration: none;
}

.bio {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 3em;
    margin-bottom: 1em;
}