

/* root color setups */
:root {
    /* light mode */
    --light-brand: rgb(35, 169, 225);
    --light-compliment: rgb(225,95,35);
    --light-background: hsl(198, 29%, 98%);
    --light-basetext: hsl(198, 20%, 20%);
    /* dark mode */
    --dark-brand: rgb(35, 169, 225);
    --dark-compliment: rgb(225,95,35);
    --dark-background: hsl(198, 29%, 20%);
    --dark-basetext: hsl(198, 20%, 80%);

}

/* defaults */
:root {
    --brand: var(--light-brand);
    --compliment: var(--light-compliment);
    --background: var(--light-background);
    --basetext: var(--light-basetext);

    font-family: Archivo, sans-serif;
    font-weight: 100;
    color: var(--basetext);
}

a {
    color: var(--basetext)
}

@media screen  and (prefers-color-scheme: dark) {
    :root {
        --brand: var(--dark-brand);
        --compliment: var(--dark-compliment);
        --background: var(--dark-background);
        --basetext: var(--dark-basetext);
    }   
}

.forcedark * {
--brand: var(--dark-brand);
--compliment: var(--dark-compliment);
--background: var(--dark-background);
--basetext: var(--dark-basetext);
}

.forcelight * {
    --brand: var(--light-brand);
    --compliment: var(--light-compliment);
    --background: var(--light-background);
    --basetext: var(--light-basetext);
}

/* CSS Custom Properties Definitions */
/* basic formatting */
h1,h2,h3,h4,h5,h6 {
    line-height: 1.3;
    font-weight: 400;
    color: #292929;
}

pre.language-text {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: rgb(246, 248, 250);
    border-radius: 6px;
}

header {
    height: 31.750mm;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 48.75rem;
    /* border-bottom: 1px solid #e6e6e6; */
}

.site-title {
    align-self: start;
    justify-self: start;
    margin-top: 13mm;
    margin-left: 13mm;
    margin-bottom: 8mm;
    height: 25mm;
}

.site-title a {
    font-family: FonoCompressed;
    font-variant: small-caps;
    font-size: 15mm;
    color: var(--basetext);
    text-decoration: none;
}

/* main page grid */
body {
    background-color: var(--background);
}
#layout-wrapper {
    display: grid;
    grid-template-rows: auto minmax(0,1fr) auto;
    grid-template-columns: 1fr fit-content(10in) 1fr;
    grid-template-areas:
        ". header. "
        ". main ."
        ". footer . ";
    min-height: 100vh;
}

#layout-wrapper > * {
    width: 100%;
    max-width: 48.75rem;
}

#layout-wrapper > header {
    background: url("../svg-assets/triangle-in-progress.svg") no-repeat top left / 100%;
    grid-area: header;
}

#layout-wrapper > main {
    grid-area: main;
    display: grid;
    grid-template-rows: fit-content(3em) 1fr;
}

#layout-wrapper > footer {
    grid-area: footer;
}

header {
    width: 100%;
    justify-self: end;
    align-self: end;
}

footer {
    width: 100%;
    justify-self: start;
    align-self: end;
}

/* blog list articles */
.post-list {
list-style: none;

}
.post-list article {
    min-height: 1in;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3em fit-content(10em);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "title . pub-date"
        "excerpt excerpt excerpt"
        "read-more . .";
    padding-bottom: 3rem;
    padding-top: 3rem;
    border-top: 1px solid #e6e6e6;
}



.post-list article > h2 {
    margin: 0;
    grid-area: title;
    font-size: 1.17em;
}
.post-list article > h2 > a,
article > h1:first-child > a {
    color: #060606;
    font-weight: 800;
    text-decoration: none;
}
.post-list article > h2:hover > a {
    text-decoration: underline;
}

.post-list article > .publication-date {
    grid-area: pub-date;
    font-size: .8em;
    white-space: nowrap;
    font-family: Archivo, sans-serif;
    font-style: italic;
    color: rgb(117, 117, 117);
    margin: 0;
    justify-self: end;
    align-self: start;
    display: block;
    font-size: 1rem;
    line-height: 1.6;
}

.post-list article > p {
    grid-area: excerpt;
    margin-top: 1rem;
}

.post-list article > a.read-more {
    margin-top: 1rem;
    grid-area: read-more;
    color: #292929;

}

main > h1:first-child,
article > h1:first-child {
    border-bottom: 1px solid #e6e6e6;
    padding: .5em;
}

ol.post-list {
    display: flex;
    padding-bottom: 4rem;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 0;
    max-width: 48.75rem;
    margin-left: auto;
    margin-right: auto;
}

.post-list > li:first-child > article {
    border-top: unset;
}

@font-face {
    font-family: "FontAwesomeBrands";
    font-weight: normal;
    font-style : normal;
           src : url("../static/fonts/fa-brands-400.woff2");
}
@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style : normal;
           src : url("../static/fonts/fa-solid-900.woff2");
}

@font-face {
    font-family: "FonoCompressed";
    font-weight: normal;
    font-style : normal;
           src : url("../static/fonts/fono-compressed.woff");
}

@font-face {
    font-family: "ArchivoNarrow";
    font-weight: normal;
    font-style : normal;
           src : url("../static/fonts/ArchivoNarrow-VariableFont_wght.ttf");
}

@font-face {
    font-family: "ArchivoNarrow";
    font-weight: normal;
    font-style : italic;
           src : url("../static/fonts/ArchivoNarrow-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Archivo";
    font-weight: normal;
    font-style : italic;
           src : url("../static/fonts/Archivo-Italic-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: "Archivo";
    font-weight: normal;
    font-style : normal;
           src : url("../static/fonts/Archivo-VariableFont_wdth,wght.ttf");
}