.theme-manager {
    padding: .5em;
    font-size: 1.5rem;
    cursor: pointer;
}

.fa-sun::before {
    content: "\f185";
    display: inline;
    font-family: FontAwesome;
    font-style: normal;
}

.fa-moon::before {
    content: "\f186";
    display: inline;
    font-family: FontAwesome;
    font-style: normal;
}