.theme-manager {
    cursor: pointer;
    font-size: 1.5rem;
    padding: .5em;
}

.fa-sun::before {
    display: inline;
    content: "\f185";
    font-family: FontAwesome;
    font-style: normal;
}

.fa-moon::before {
    display: inline;
    content: "\f186";
    font-family: FontAwesome;
    font-style: normal;
}